body {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-bottom: 0;
}

@media only screen and (min-width : 250px) {
  .logo {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 20%;
    width: 80%;
  }
  .open {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 20%;
    width: 70%;
  }
  .call {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 20%;
    width: 80%;
  }

}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .logo {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 30%;
    width: 60%;
  }
  .open {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 10%;
    width: 50%;
  }
  .call {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 20%;
    width: 80%;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .logo {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 50%;
    width: 30%;
  }
  .open {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 20%;
    width: 30%;
  }
  .call {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 20%;
    width: 50%;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .logo {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 35%;
    width: 30%;
  }
  .open {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 5%;
    width: 25%;
  }
  .call {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 15%;
    width: 50%;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .logo {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 10%;
    width: 30%;
  }
  .open {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 10%;
    width: 30%;
  }
  .call {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 10%;
    width: 40%;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .logo {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 5%;
    width: 30%;
  }
  .open {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 5%;
    width: 20%;
  }
  .call {
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
    padding-top: 8%;
    width: 40%;
  }

}
